* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body, ul, li {
    font-size: 20px;
} 

a {
    text-decoration: none;
    list-style: none;
    color: green;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(215, 250, 215);
}

.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.menu li {
    margin-left: 20px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu li a {
    display: block;
    padding: 10px;
    background-color: rgb(215, 250, 215);
    
    
}

.logo img{ 
    max-width: 200px;
    align-items: center;
}

/*PRODUTO*/

#titulo-produto{
    text-align: center;
    padding: 20px;
    color:rgb(7, 63, 7);
}

.produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


    .card {
        max-width: 100%;
        margin: 0 auto;
        display: block;
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
    
    }
}

#descricao{
    text-align: center;
    justify-content: center;
    padding: 20px;
    color:rgb(7, 63, 7);
}
#preco{
    text-align: center;
    justify-content: center;
    padding: 20px;
    color: rgb(255, 153, 0)
}
/*RODAPE*/

footer {
    color: rgb(7, 63, 7);
    background-color: rgb(215, 250, 215);
    max-height: 100%;
    text-align: center;
    align-items: baseline;
    padding: 5px;
}
.menu-rodape li {
    padding: 3px;

}
.rodape {
    margin-top: 15px;
    font-size: 10px;
}