* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body, ul, li {
    font-size: 20px;
} 

a {
    text-decoration: none;
    list-style: none;
    color: green;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(215, 250, 215);
}

.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.menu li {
    margin-left: 20px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu li a {
    display: block;
    padding: 10px;
    background-color: rgb(215, 250, 215);
    
    
}

.logo img{ 
    max-width: 200px;
    align-items: center;
  

}
.banner img{
    height: 540px;
    width: 100%;
    object-fit: cover;
}

/*CSS Menu - Serviços*/

h2 {
    display:block;
    max-width: 100%;
    background-color: rgb(215, 250, 215);
    text-align: center;
    color: rgb(7, 63, 7);
    margin-top: 20px;
    height: 45px;
    padding: 5px;
    border-bottom: 4px solid rgb(7,63,7);

}

#gride-produtos img{
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 340px;
    width: 200px;
    margin: 50px;
}
/*teste*/

.img {
    max-width: 100%;
    display: block;
}

.serviços {
    display: flex;
    flex-wrap: wrap;
    max-width: 8000px;
    margin: 0 auto;
    cursor: pointer;

}

.serviços > div {
    flex: 1 1 200px;
    margin: 15px;
    
}
.serviços > div p {
    padding: 15px;
    font-weight: 700;
    font-size: 20px;
    color:rgb(7, 63, 7);
    text-align: center;
}


main label{
    width: 300px;
    padding: 10px;
    display: block;
    float: left;
    background-color: rgb(215, 250, 215);
    color: rgb(7, 63, 7);
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    margin-left: 15px;
    transition: all 300ms linear;
}

label:hover{
    background-color: rgb(7, 63, 7);
    color:rgb(215, 250, 215);
}

main input{
    display: none;
}

#relax:checked ~ #gride-produtos .todos,
#relax:checked ~ #gride-produtos .beleza,
#relax:checked ~ #gride-produtos .saude{
    display: none;
}

#todos:checked ~ #gride-produtos .beleza,
#todos:checked ~ #gride-produtos .saude,
#todos:checked ~ #gride-produtos .relax{
    display: none;
}

#beleza:checked ~ #gride-produtos .saude,
#beleza:checked ~ #gride-produtos .relax,
#beleza:checked ~ #gride-produtos .todos{
    display: none;
}

#saude:checked ~ #gride-produtos .relax,
#saude:checked ~ #gride-produtos .todos,
#saude:checked ~ #gride-produtos .beleza{
    display: none;


/*RODAPE*/
}

footer {
    color: rgb(7, 63, 7);
    background-color: rgb(215, 250, 215);
    max-height: 100%;
    text-align: center;
    align-items: baseline;
    padding: 5px;
}
.menu-rodape li {
    padding: 3px;

}
.rodape {
    margin-top: 15px;
}

/*SOBRE NOS*/

#sobre-nos {
    color: rgb(7, 63, 7);
    text-align: center;
    padding: 50px 20px;
    font-size: 15px;
}

.mapa{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
}
